html * {
  line-height: 1.5em;
}

#layout {
  display: grid;
  column-gap: 4.5rem;
}

#name {
  grid-area: name;
  margin: 0;
  font-size: 2.5rem;
}

#bio {
  grid-area: bio;
  margin: 0;
  margin-top: 2rem;
}

#contacts {
  align-self: center;
  grid-area: contacts;
  margin: 0;
}

#experience {
  grid-area: experience;
}

#skills {
  grid-area: skills;
}

#langs {
  grid-area: langs;
}

#articles {
  grid-area: articles;
}

#education {
  grid-area: education;
}

@media print {
  html {
    font-size: 9.2px;
  }
}

@media screen {
  html {
    font-size: 14px;
  }
}

/* > 1200px */
@media screen and (min-width: 1200px) {
  body {
    width: calc(1200px - 5rem);
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

/* < 1000px */
@media screen and (max-width: 1000px) {
  #layout {
    grid-template-areas:
      "name"
      "contacts"
      "bio"
      "articles"
      "skills"
      "experience"
      "education"
      "langs";
  }

  #contacts li {
    list-style: none;
  }

  #contacts {
    margin-top: 1rem;
    padding-inline-start: 0;
  }
}

/* > 1000px */
@media print, screen and (min-width: 1000px) {
  #layout {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "name contacts"
      "bio contacts"
      "articles skills"
      "experience skills"
      "experience langs"
      "experience ."
      "education .";
  }

  #contacts {
    list-style: none;
    padding-inline-start: 0;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
}

ul {
  padding-inline-start: 2rem;
}

body {
  margin: 2.5rem;
  font-family: "Merriweather", serif;
}

.section {
  margin-top: 2rem;
}

.section > header {
  color: rgb(32, 121, 199);
  font-weight: bold;
  font-size: 1.25rem;
}

.section > ul {
  margin-bottom: 0;
}

.section > .subsection {
  margin-top: 1.3rem;
}

.company-name {
  font-weight: bold;
}

.subsection > header {
  font-weight: bold;
  font-size: 1.1rem;
}

.dates {
  color: rgb(83, 83, 83);
  font-size: 0.8rem;
}

.subsection > .description {
  margin-top: 1rem;
}
